if ! has nix_direnv_version || ! nix_direnv_version 3.0.6; then
	if [ -f $HOME/.config/direnv/envrc ]; then
		source "$HOME/.config/direnv/envrc"
	else
		source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/3.0.6/direnvrc" "sha256-RYcUJaRMf8oF5LznDrlCXbkOQrywm0HDv1VjYGaJGdM="
	fi
fi
use flake
export MACOSX_DEPLOYMENT_TARGET=15.3
